<!doctype html>
{% extends 'Profile/base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
<div class="col-lg-12">
<div class="onboarding-content passcode-wrap mail-box">
<div class="onboarding-contents">
<div class="row">

<form method="POST"  style="padding-top:50px">
    {{form|crispy}}
    {% csrf_token %}
    <br>
    <button type="submit"  class="btn btn-success btn-sm">Submit</button>
</form>

</div>
</div>
</div>
</div>



<br>
<br>
<center>
<button  class="btn btn-primary btn-sm"><a href="{% url 'Accountapp:ChangeUser' %}">Change basic user info</a></button>
<button  class="btn btn-primary btn-sm"><a href="{% url 'Accountapp:ChangeUser' %}">Change Password</a></button>
</center>

{% endblock %}
