<!DOCTYPE html>
{% extends 'Profile/base.html' %}
{% load static %}




{% block body_block %}





<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

<div class="card search-filter">
<div class="card-header">
<h4 class="card-title mb-0">Search by username</h4>
</div>
<div class="card-body">
<div class="filter-widget">
<div>
<form class="form-control datetimepicker" method="GET">
<div class="input-group">
<input type="text" class="form-control" name="Search" placeholder="Search by user name">
&nbsp 
<div class="input-group-btn">
<button class="btn btn-success btn-lg" type="submit">Search</button>
</div>
</div>
</form>
</div>
</div>

<div class="filter-widget">
<h4>Select Location</h4>
<div>
<label class="custom_check">
<input type="checkbox" name="select_specialist" checked>
<span class="checkmark"></span> Dhaka
</label>
</div>
<div>
<label class="custom_check">
<input type="checkbox" name="select_specialist" checked>
<span class="checkmark"></span> Cottogram
</label>
</div>
<div>
<label class="custom_check">
<input type="checkbox" name="select_specialist">
<span class="checkmark"></span> Sylet
</label>
</div>
<div>
<label class="custom_check">
<input type="checkbox" name="select_specialist">
<span class="checkmark"></span> Borishal
</label>
</div>
<div>
<label class="custom_check">
<input type="checkbox" name="select_specialist">
<span class="checkmark"></span> Rongpur
</label>
</div>
<div>
<label class="custom_check">
<input type="checkbox" name="select_specialist">
<span class="checkmark"></span> Moimonsing
</label>
</div>
</div>
<div class="btn-search">
<button type="button" class="btn w-100">Search</button>
</div>
</div>
</div>
</div>


<div class="col-md-12 col-lg-8 col-xl-9">
{% if Search %}    
{% for result in results %}
<div class="card">
<div class="card-body">
<div class="doctor-widget">
<div class="doc-info-left">

<div class="doctor-img">
<a href="{% url 'Accountapp:view_all_profile' username=result.username %}">
{% if result.user_profile.proPic %}
<img src="/media/{{result.user_profile.proPic}}" width="60px" height="60px" > 
{% else %}
<img src="/media/avater.png" width="100px" height="100px" >
{% endif %}
</a>
</div>

<div class="doc-info-cont">
<h4 class="doc-name"><a href="#">{{result.username}}</a></h4>
<p class="doc-speciality">{{result.first_name}} {{result.lastst_name}}</p>

{% if result.is_patient %}
<h5 class="doc-department"><i class="fa fa-heartbeat"></i>{{result.patient_info.blood_group}}</h5>

{% else %}
<h5 class="doc-department">Service holder</h5>
{% endif %}


</div>
</div>
<div class="doc-info-right">
<div class="clini-infos">

</div>
<div class="clinic-booking">
<a class="view-pro-btn" href="{% url 'Accountapp:view_all_profile' username=result.username %}">View Profile</a>

</div>
</div>
</div>
</div>
</div>
{% endfor %}
{% else %}
{% for user_list in user_list %}
<div class="card">
<div class="card-body">
<div class="doctor-widget">
<div class="doc-info-left">

<div class="doctor-img">
<a href="{% url 'Accountapp:view_all_profile' username=user_list.username %}">
{% if user_list.user_profile.proPic %}
<img src="/media/{{user_list.user_profile.proPic}}" width="60px" height="60px" > 
{% else %}
<img src="/media/avater.png" width="100px" height="100px" >
{% endif %}
</a>
</div>

<div class="doc-info-cont">
<h4 class="doc-name"><a href="#">{{user_list.username}}</a></h4>
<p class="doc-speciality">{{user_list.first_name}} {{user_list.lastst_name}}</p>

{% if user_list.is_patient %}
<h5 class="doc-department"><i class="fa fa-heartbeat"></i>{{user_list.patient_info.blood_group}}</h5>

{% else %}
<h5 class="doc-department">Service holder</h5>
{% endif %}


</div>
</div>
<div class="doc-info-right">
<div class="clini-infos">

</div>
<div class="clinic-booking">
<a class="view-pro-btn" href="{% url 'Accountapp:view_all_profile' username=user_list.username %}">View Profile</a>

</div>
</div>
</div>
</div>
</div>
{% endfor %}
 {% endif %}


 

{% endblock %}